<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="intranetserverip" value="192.168.0.111" />
    <!--add key="intranetserverip" value="127.0.0.1" /-->
    <add key="internetserverip" value="59.173.249.178" />
    <add key="iptype" value="0" />
    <add key="storeribboncollapse" value="0" />
    <add key="storeskin" value="1" />
    <add key="cusskin" value="Office 2007 Blue" />
    <add key="showslidesysmsg" value="0" />
    <add key="showslideerrmsg" value="1" />
    <add key="storedatadisplaystyle" value="0" />
    <add key="storeusername" value="1" />
    <add key="username" value="0" />
    <add key="autoconnectserver" value="1" />
    <add key="startpage" value="pp" />
  </appSettings>


</configuration>